################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Refine/FileContentIndex/5725c42a-11b8-4568-adde-7d0fce15b223.vsidx
/.vs/Refine/FileContentIndex/58594917-f475-4e4b-8967-a9b74054b4cb.vsidx
*.vsidx
