@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* _content/Refine/Views/Shared/_HomeLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* CSS for responsiveness */

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .hero-section[b-arldui0g2v] {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .custom-btn[b-arldui0g2v] {
        margin-bottom: 10px;
        display: block;
    }
}

/* Further adjustments for extra small screens */
@media (max-width: 576px) {
    .hero-section[b-arldui0g2v] {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .btn[b-arldui0g2v] {
        padding: 10px 20px;
        font-size: 14px;
    }
}

a.navbar-brand[b-arldui0g2v] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-arldui0g2v] {
  color: #0077cc;
}

.btn-primary[b-arldui0g2v] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-arldui0g2v], .nav-pills .show > .nav-link[b-arldui0g2v] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-arldui0g2v] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-arldui0g2v] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-arldui0g2v] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-arldui0g2v] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-arldui0g2v] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Refine/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rc4ddvresu] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rc4ddvresu] {
  color: #0077cc;
}

.btn-primary[b-rc4ddvresu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rc4ddvresu], .nav-pills .show > .nav-link[b-rc4ddvresu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rc4ddvresu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rc4ddvresu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rc4ddvresu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rc4ddvresu] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rc4ddvresu] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Refine/Views/Shared/_MyLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-x42msg3eh7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-x42msg3eh7] {
  color: #0077cc;
}

.btn-primary[b-x42msg3eh7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-x42msg3eh7], .nav-pills .show > .nav-link[b-x42msg3eh7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-x42msg3eh7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-x42msg3eh7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-x42msg3eh7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-x42msg3eh7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-x42msg3eh7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
